body {
    height: 100vh;
     display: grid;
    justify-content: center;
    background: url('/img/default.jpg') no-repeat center center fixed;
    color: white;
    text-shadow: 2px 2px 1px black;
    font-family: 'Courier New', Courier, monospace;
}


.container__display__search-button{
    cursor: pointer;
    background-color: rgba(70, 59, 59, 0.45);
    color:white;
}
.container__display__search-button, .container__display__search-input {
    border-radius: 6px;
    text-align: center;
    outline: none;

}

.container__display__forecast__result__day-1, .container__display__forecast__result__day-2, .container__display__forecast__result__day--3 {
    margin: 5px;
}

.container__display__forecast__result__day-2 {
    border-left:3px solid rgba(255, 255, 255, 0.35);
    border-right:3px solid rgba(255, 255, 255, 0.35);
    height: 60%;
    text-shadow: 2px 2px 1px black;
}


.container__display__search {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 15px;
}

.container__display__result, .container__display__forecast {
    background-color: rgba(0,0,0, 0.45);
    box-shadow: 1px 1px 5px black;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    text-align: center;

}


.container__display__result__location-country{
    font-size: 1.5rem;
    margin-left: 5px;
    margin: auto;
}


.city-image {
    border-radius: 20px;
    margin: 15px 15px;
    border: 1px solid rgba(0,0,0, 0.65);
    box-shadow: 1px 1px 1px rgb(39, 37, 37);
}

.container__display__forecast__result {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen
and (max-width: 569px)  {
    .container__display__search {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        padding: 15px;
        margin: 15px;
    }
}